<div class="container">
    <h3 class="blog-title">Post by {{blog.user.username}}</h3>
    <section class="blog-section" id="{{blog.id}}">
        <div class="blog-group">
             <label for="blog-title">Blog title:</label>
             <h3 class= "title">{{blog.blog_title}}</h3>
        </div>
        <div class="blog-group">
            <label for="blog-context">Description:</label>
            <p id="context">{{blog.blog_description}}</p>
        </div>
        <div class="blog-group">
            <p>created on {{format_date blog.created_at}}</p>
        </div>

        {{> comment post.comments}}

    </section>
    <form class="commentSection">
    <h4>Write a Comment</h4>
    <textarea id="commentBox" cols="30" rows="5"></textarea>
    <button class="sumbit">post</button>
    </form>
</div>