<div class="container">
    <h2>Add a new post</h2>
    <form id="newPost">
        <div class="form-group">
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="post-title">
        </div>
        <div class="form-group">
            <label for="post-context">Content:</label>
            <br>
            <input class="textarea-large" id="post-context" name="post-context">
        </div>
        <button id="submit">Submit</button>
    </form>
</div>
<div class="container">
    <h2>All Posts</h2>
        {{#each blogs as |blog|}}
        <div class="blog-card"> 
        <a class="view-blog" href="/dashboard/view/{{blog.id}}">
        <header><b>Title:</b> {{blog_title}}</header>
        <p><b>Description:</b> {{blog_description}}</p>
        <small>{{format_date created_at}} created by {{blog.user.username}}</small>
        <hr>
        <br/></a>
        </div>
        {{/each}}
</div>
<script src="/js/post-create.js"></script>